@page
@model yyyy.Pages.Stocks.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Edit indexes</h1>


<p>
    <a asp-page="Create">Add a new index</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Stock[0].NomStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock[0].IndexShortCut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock[0].PrixActuel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock[0].PrixInitial)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Stock) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IndexShortCut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrixActuel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrixInitial)
            </td>
            <td>
                    <a asp-page="./Edit" asp-route-id="@item.StockId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.StockId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.StockId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
